<article class="help">
    <input type="checkbox" class="help__checkbox" id="help__checkbox">
    <label for="help__checkbox" class="help__button"><span class="hidden">Открыть подсказку</span></label>
    <div class="help__container">
        <ul>
            <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas tenetur, quis deleniti totam modi vero neque dolorum sint dignissimos quae minus corrupti doloribus esse quam earum nemo iusto! Debitis, cumque.</li>
            <li>Corporis quas maiores dignissimos tempora, dolore magnam ut incidunt repellendus, ipsa ad illum est culpa sint neque dolor provident iure voluptates iusto voluptatibus non. Reprehenderit incidunt officia deserunt autem tempore.</li>
            <li>Explicabo nisi enim quas quam tempore natus, at aliquam laudantium eligendi commodi iusto possimus eum hic asperiores illum doloremque nobis maxime voluptas, libero dolores et sed repellendus. Voluptatibus, sapiente iure?</li>
        </ul>
    </div>
</article>