<a class="help-for-small-screen" href="/help">Справка &gt;</a>

<article class="help">
    <input type="checkbox" class="help__checkbox" id="help__checkbox">
    <label for="help__checkbox" class="help__button"><span class="hidden">Открыть подсказку</span></label>
    <div class="help__container">
        <h3>Как указать список досок для поиска?</h3>
        <img src="/images/help board 1.png" alt="Пример">
        <p>
            В самом верхнем поле вы можете указать через пробел весь перечень досок, по которым вам необходимо произвести поиск. 
        </p>
        <img src="/images/help board 2.png" alt="Пример">
        <p> Можно не использовать / </p>
        <h3>Как искать файлы?</h3>
        <img src="/images/s1.png" alt="Пример">
        <img src="/images/s3.png" alt="Пример">
        <p>Для поиска файла укажите его название и формат в поисковую строку</p>
        <img src="/images/s2.png" alt="Пример">
        <p>Вместо формата можно указать <b>.img</b> или <b>.image</b>, тогда будут искаться изображения независимо от формата</p>
        <img src="/images/s4.png" alt="Пример">
        <p>Так же можно искать и видеофайлы независимо от их формата, используя <b>.video</b></p>
        <img src="/images/s5.png" alt="Пример">
        <p>Или можно искать просто файлы, изображения и видео, используя <b>.file</b></p>
        <img src="/images/s6.png" alt="Пример">
        <img src="/images/s7.png" alt="Пример">
        <img src="/images/s8.png" alt="Пример">
        <img src="/images/s9.png" alt="Пример">
        <p>Не указывая имя файла можно добавить в результаты поиска все посты с любыми файлами</p>
        <h3>Поиск по тексту</h3>
        <p>Поиск по тексу регистронезависимый, но не игнорирует знаки препинания и пробелы. <br> Если вас это не устраивает, расскажите нам о своих пожеланиях: <a href="#">обратная связь</a></p>
        <h3>Модификаторы. Как использовать #OP?</h3>
        <img src="/images/s10.png" alt="Пример">
        <p>Если вы хотите осуществлять поиск только по заглавным постам, то есть не учитывая ответы в самих тредах, тогда добавьте в текст запроса <b>#OP</b></p>
        <h3>Долго ищет?</h3>
        <p>Данный поисковик реализует прямой поиск, и если на доске достаточно много постов, и вы не используете <b>#OP</b>, то поиск может занять некоторое время. Просто дождитесь, когда страница с результатами загрузится</p>
        <br>
        <br>
        <img src="/images/s11.png" alt="Пример">
        <p><b>p.s.</b> Все это можно объединять в одном поисковом запросе, делая совершенно невероятные вещи</p>
    </div>
</article>