<form action="/" method="GET" class="search">
    <input type="text" class="search__boards" placeholder="/b /rf">
    <div class="search__line">
        <input class="search__input" type="search" placeholder=".webm какает кот" autofocus> 
        <button class="search__button" type="submit"><span class="hidden">Кнопка поиска</span></button>
    </div>
    {{> help }}
</form>