<form action="/" method="GET" class="search">
    <input name="boards" type="text" class="search__boards" placeholder="/b /rf">
    <div class="search__line">
        <input name="search" id="search" class="search__input" type="search" placeholder=".file Пример текста" autofocus> 
        <button class="search__button" type="submit"><span class="hidden">Кнопка поиска</span></button>
    </div>
    {{> help }}
</form>