<div class="hidden viewport">
    <p id="viewport-file-name" class="viewport__file-name">123.png</p>
    <img id="viewport-img"class="viewport__content hidden" src="https://2ch.hk/b/src/249764806/16247099653080.png" alt="">
    <video id="viewport-video"class="viewport__content viewport__video hidden" src="https://2ch.hk/b/src/249691893/16246130415740.mp4" controls></video>
</div>