.search__boards {
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid #ff5900;
    outline: none;
    font-size: 18pt;
    opacity: .7;
    /* color: rgb(37, 37, 37); */
    color: #ff5900;
    background-color: #eeeeee;
}

.search__boards:focus {
    border-bottom: 2px solid #555;
    transition: .3s;
}

.search__help {
    color: #ff5900;
    border: solid 2px #ff5900;
    border-radius: 50%;
    padding: 1px 6px;
    cursor: pointer;
    opacity: .7;
}

.search__help:hover {
    color: #555;
    border: solid 2px #555;
    transition: .3s;
    opacity: .7;
}

.search__line {
    display: flex;
}

.search__input {
    width: 100%;
    height: 50px;
    padding: 15px;
    border: 3px solid #ff5900;
    border-radius: 4px 0px 0px 4px;
    outline: none;
    font-size: 18pt;
    opacity: .7;
    background-color: #eeeeee;
}

.search__input:focus {
    border: 3px solid #555;
    transition: .3s;
}

.search__button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 0px 4px 4px 0px;
    background-color: #ff5900;
    opacity: .7;
    cursor: pointer;
    background-image: url('/images/search-icon.svg');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: center;
}

.search__input:focus ~ .search__button{
    background-color: #555;
    transition: .3s;
}

@media (max-width: 600px) {
    .search__help {
        display: none;
    }

    .search__boards {
        width: 210px;
    }
}

/* @media (max-width: 450px) {
    .search__input::placeholder {
        color: #eeeeee;
    }
} */