body {
    font-family: sans-serif;
    font-size: 12pt ;
    background-color: #eeeeee;
}
.container {
    /* border: 2px solid red; */

    box-sizing: border-box;
    width: 100%;
    padding: 40px 20px;
    margin: 0 auto;

    max-width: 960px;
}

a {
    color: #ff5900;
    text-decoration: none; 
}

a:hover {
    color: #b23b00;
    transition: .3s;
}

.hidden {
    display: none !important;
}

@media (max-width: 450px) {
    .container {
        padding: 40px 0px;
    }
}